.button-base {
  align-items: center;
  background-color: var(--primary-600);
  border: 1px solid;
  border-color: var(--primary-600);
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button-base .dot {
  height: 10px;
  position: relative;
  width: 10px;
}

.button-base .dot-2 {
  background-color: var(--white);
  border-radius: 4px;
  height: 8px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 8px;
}

.button-base .text-3 {
  color: var(--white);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button-base .circle {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button-base .circle-187 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.button-base.size-5-md {
  gap: 8px;
}

.button-base.icon-only {
  gap: 8px;
}

.button-base.size-5-sm {
  gap: 8px;
}

.button-base.size-5-xl {
  gap: 8px;
}

.button-base.size-5-lg {
  gap: 8px;
}

.button-base.icon-false {
  gap: 8px;
}

.button-base.size-5-lg.icon-leading {
  padding: 10px 18px;
}

.button-base.size-5-lg.icon-only {
  padding: 12px;
}

.button-base.icon-false.size-5-two-xl {
  padding: 16px 28px;
}

.button-base.size-5-sm.icon-false {
  padding: 8px 14px;
}

.button-base.icon-leading.size-5-two-xl {
  gap: 12px;
  padding: 16px 28px;
}

.button-base.size-5-xl.icon-trailing {
  padding: 12px 20px;
}

.button-base.size-5-md.icon-trailing {
  padding: 10px 16px;
}

.button-base.size-5-lg.icon-dot {
  padding: 10px 18px;
}

.button-base.size-5-sm.icon-trailing {
  padding: 8px 14px;
}

.button-base.icon-leading.size-5-sm {
  padding: 8px 14px;
}

.button-base.size-5-sm.icon-only {
  padding: 8px;
}

.button-base.size-5-lg.icon-false {
  padding: 10px 18px;
}

.button-base.icon-dot.size-5-xl {
  padding: 12px 20px;
}

.button-base.size-5-md.icon-false {
  padding: 10px 16px;
}

.button-base.icon-only.size-5-xl {
  padding: 14px;
}

.button-base.icon-dot.size-5-two-xl {
  gap: 12px;
  padding: 16px 28px;
}

.button-base.size-5-md.icon-only {
  padding: 10px;
}

.button-base.icon-leading.size-5-md {
  padding: 10px 16px;
}

.button-base.icon-false.size-5-xl {
  padding: 12px 20px;
}

.button-base.icon-only.size-5-two-xl {
  padding: 16px;
}

.button-base.icon-dot.size-5-md {
  padding: 10px 16px;
}

.button-base.size-5-lg.icon-trailing {
  padding: 10px 18px;
}

.button-base.icon-leading.size-5-xl {
  padding: 12px 20px;
}

.button-base.size-5-two-xl.icon-trailing {
  gap: 12px;
  padding: 16px 28px;
}

.button-base.size-5-sm.icon-dot {
  padding: 8px 14px;
}

.button-base.size-5-md .text-3 {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.button-base.size-5-sm .text-3 {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.button-base.size-5-xl .text-3 {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.button-base.size-5-lg .text-3 {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.button-base.size-5-two-xl .text-3 {
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
}
